server:
  port: 10000
  servlet:
    context-path: /auth
  shutdown: graceful

spring:
  application:
    name: auth
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true