spring:
  application:
    name: mercury-auth
  datasource:
    url: jdbc:mysql://localhost:3306/mercury_auth?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    database: 0

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

security:
  jwt:
    secret: "change-me-please-32-bytes-min"
    ttl-seconds: 7200

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://localhost:3306/mercury_auth?useSSL=false&serverTimezone=UTC
  redis:
    host: localhost
    port: 6379

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://mysql:3306/mercury_auth?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  redis:
    host: redis
    port: 6379
